@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  /* Post-it colors */
  --yellow: yellow;
  --blue: aquamarine;
  --orange: darkorange;
  --red: tomato;
  --green: yellowgreen;
  /* Shadow */
  --shadow: black;
  /* BG-gradient */
  --gradient1: rgb(34, 51, 34);
  --gradient2: rgb(98, 119, 98);
  --gradient3: rgb(159, 184, 159);
  /* Main background */
}

* {
  text-align: center;
  box-sizing: border-box;
}

#root {
  background-color: grey;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Indie Flower", cursive;
  color: aliceblue;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
  margin: 1rem 0;
}

footer {
  color: aliceblue;
  padding: 0.25rem;
}

footer a {
  text-decoration: none;
  color: rgb(141, 150, 158);
}
footer a:hover {
  color: aliceblue;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--gradient1);
  background-image: radial-gradient(
    var(--gradient1),
    var(--gradient2) 85%,
    var(--gradient3)
  );
  max-width: 800px;
  border-radius: 1rem;
  border: 2px solid rgb(153, 102, 0);
}

.todo {
  font-family: "Indie Flower", cursive;
  color: rgb(0, 0, 199);
  font-size: 2rem;
  width: 250px;
  min-height: 250px;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "menu1 menu2 ."
    "textcontent textcontent check";
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px var(--shadow);
  margin: 2rem;
  transition: transform 0.25s;
  transform: scale(1);
  transform-origin: top center;
}
.menu1 {
  grid-area: menu1;
}
.menu2 {
  grid-area: menu2;
}
.text-content {
  grid-area: textcontent;
  hyphens: auto;
  overflow-x: hidden;
}
.check {
  grid-area: check;
}
.todo > :nth-child(2) {
  opacity: 0;
  transition: opacity 0.4s;
}
.todo:hover > :nth-child(2) {
  opacity: 1;
}

.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}

.todo:hover {
  transform: scale(1.1) rotate(0deg);
  z-index: 1;
  box-shadow: 5px 12px 5px var(--shadow);
}

.todo button {
  opacity: 0;
  visibility: collapse;
  cursor: pointer;
  font-size: 0rem;
  border: none;
  background: none;
  transform: scale(1);
  transition: font-size 0.2s, transform 0.25s;
}
.todo button:hover {
  text-shadow: 0px 0px 6px var(--shadow);
  transform: scale(1.2);
  transition: transform 0.1s;
}
.todo:hover button {
  opacity: 1;
  visibility: visible;
  font-size: 1.4rem;
}
.todo form {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  overflow: hidden;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.2rem;
}

.color-picker {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid aliceblue;
  transform: scale(1);
}

.color-picker:hover {
  transform: scale(1.3);
  box-shadow: 1px 1px 4px var(--shadow);
  z-index: 1;
}
